@media screen and (min-width:769px) and (max-width:1027px){
  .main-section {
    background: linear-gradient(to top, transparent 0%, black 100%), url(" https://media.istockphoto.com/id/1221398624/photo/emergency-relief-file-folder.jpg?s=612x612&w=0&k=20&c=8DOKHqqLoDvdClAl5iykfrlXo9lGe64m26LVsu9OX8k=");
    background-size: 100% 100%;
    background-attachment: fixed;
    height:32rem;
  }
  .main-section h1 {
    padding: 4rem 0 0 1.5rem;
    font-weight: 500;
}
  .main-section-p1 { 
    line-height:3rem;
    padding-right: 1rem; 
  }
  .help-section-left img {
    height: 3rem;
    width: 9rem;
    display:none;
  }
  .donate-section {
    display:grid;
    justify-content: center;
    align-items: center;
  }
  .donate-section-p2 {
    margin: 3rem 0;
  }
  .help-section-right img {
    margin: 2rem 0;
}
.help-section-left h2 {
  margin: 6rem 0 1rem 1.2rem;
}
.providing-section-bottom {
  height: auto;
  display:flex;
 flex-wrap:wrap;
}
.providing-section-bottom-div {
  width: 43%;
  height:23rem;
}
.summery-section {
height:45rem;
background-size: 100% 100%;
}
}
